body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: opacity 0.5s ease;
}

body.fade-out {
    opacity: 0;
}

.thankyou-container {
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 600px;
    max-width: 90%;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff; /* Blue color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
